{% extends 'base.html' %}

{% block body %}
	{% if cart %}
		<table class="table">
			<thead>
				<tr class="text-center">
					<th scope="col">Product</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for p in cart %}
					<tr>
						<td>{{ p.name }}</td>
						<td class="text-right">
							<div class="row">
								<div class="col">
									<span>1</span>
								</div>
								<div class="col text-left">
									<div class="row">
										<div class="col">
											<i class="fas fa-plus fa-xs addQ"></i>
										</div>
									</div>
									<div class="row justify-content-center align-self-center">
										<div class="col">
											<i class="fas fa-minus fa-xs removeQ"></i>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td class="text-center">{{p.price}}</td>
						<td></td>
						<td><i class="fas fa-times removeitem"></i></td>
					</tr>
				{% endfor %}
				<tr>
					<td></td><td></td><td></td>
					<td class="text-center">{{total}}</td>
				<tr>
			</tbody>
		</table>
		<button class="btn btn-lg btn-outline-dark">Buy</button>

		<script>

			function getCookie(cname) {
				var name = cname + "=";
				var decodedCookie = decodeURIComponent(document.cookie);
				var ca = decodedCookie.split(';');
				for(var i = 0; i <ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == ' ') {
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
					}
				}
				return "";
			}

			function getQ(origin) {
				let p = $(origin).parents().eq(2);
				let r = $(p).siblings().eq(0).children();
				return $(r)[0];
			}

			$(".addQ").click((ele) => {
				let clicked = $(ele)[0].target;
				let e = getQ(clicked);
				let q = $(e).text();
				q++;
				$(e).text(q);
			});

			$(".removeQ").click((ele) => {
				let clicked = $(ele)[0].target;
				let e = getQ(clicked);
				let q = $(e).text();

				if(q >= 2) {
					q--;
					$(e).text(q);
				}
			});

			$(".removeitem").click((ele) => {
				let clicked = $(ele)[0].target;
				let name = $(clicked).parents().eq(0).siblings().eq(0).text()
				console.log(name);
				$(clicked).parents().eq(1).remove()
				
				// This assumes there can only be one item of each type in the cart. There can be a small visual bug otherwise even if this could not be abused.
				let obj = JSON.parse(getCookie("cart"));
				console.log(obj)
				obj = obj.filter((el) => { return el.name != name});
				console.log(obj)
				document.cookie = `cart=${JSON.stringify(obj)};path=/`;

			});
		</script>

	{% else %}
		<p>Cart does not contain any products</p>
	{% endif %}
{% endblock %}