{% extends 'base.html' %}

{% block body %}
	<div id="campaign" class="row">
		<div class="col-4">
			<div>
				<img src="static/campaign.png">
			</div>
			<p>Explore our seasonal deals with great deals</p>
			<div className="text-center">
				<a href="./shop/campaign"><button class="btn btn-outline-dark">SHOP NOW!</button></a>
			</div>
		</div>
	</div>
	{% if sections %}
		{% for s in sections %}
			{% if s.products %}
			<div class="row">
				<div class="col">
					<div class="row" data-toggle="collapse" data-target="#multiCollapseExample-{{ s.id }}">
						<div class="col bg-dark colmar text-center">
							<h3 class="productheader"><strong class="title">⭐️{{s.name}}</strong></h3>
							<span class="text-right"><i class="fas fa-caret-square-down fa-2x productdropdown"></i></span>
						</div>
					</div>
					<div class="row mb-1 flex show" id="multiCollapseExample-{{ s.id }}">
						{% for p in s.products %}
							<div class="col">
								<div class="text-center">
									<a href="/shop/{{p.product_type}}/{{p.id}}">
										<img src="{{p.image_link}}">
									</a>
									<h4>{{ p.name }}</h4>
								</div>

								<div class="row">
									<div class="col d-flex align-items-center justify-content-center">
										{% if p.discount > 0 %}
											<h5 class="ml-1">{{p.price}}$ <s>{{p.discount}}$</s></h5>
										{% else %}
											<h5>{{p.price}}$</h5>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}